<p>
  <strong>Scarcity:</strong>
  <%= @product_detail.scarcity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_detail.price %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @product_detail.notes %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_detail.product_id %>
</p>

<p>
  <strong>Report:</strong>
  <%= @product_detail.report_id %>
</p>

<%= link_to 'Edit', edit_product_detail_path(@product_detail) %> |
<%= link_to 'Back', product_details_path %>
