  <style>
  #info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    padding: 25px 25px 25px 25px;
    max-width: 490px;
  }
  html, body, #map, #map-container {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100vw;
  }
  .leaflet-popup-content h5 {
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    margin: 0 0;
    padding: 0;
  }
  .leaflet-popup-content p {
    margin: 10px 0;
    font-size: 14px;
    color: #848484; 
  }
</style>
<div id="map-container">
  <div id="map"></div>
  <div id="footer-wrapper">
    <%= render "footer" %>
  </div>
</div>
<script type="text/javascript">
	var map = L.map("map", { zoomControl: false }).setView([<%= @latitude %>, <%= @longitude %>], 13);
	var localization = <%= raw @localization.to_json %>;
</script>

<%= javascript_pack_tag 'home_page_map' %>
