<p>
<% if current_user %>
    <%= t('.login_status', username: current_user.email) %>
<% end %>
</p>

<p> locale: <%= t('.lang') %></p>
<p> <%= l Time.now, format: :short %></p>

<h2><%= t('.instruct_title') %></h2>
<% if current_user.nil? %>
  <p><%= t('.signin_msg') %> <%= link_to t('login'), new_user_session_path %> <%= t('.signin_msg_2') %></p>
  <% else %>
  
<p>    <%= t('.instruct_body') %>
  <%= link_to t('.instruct_body_2'), new_report_path %>.</p>
<% end %>

<style>
#map-container {
  height: 500px;
}
</style>
<div id="map-container"></div>

<%= javascript_pack_tag 'home_page_map' %>
