<p>
<% if current_user %>
    <%= t('.login_status', username: current_user.email) %>
<% end %>
</p>

<p><%= link_to "English", { :locale=>'en' } %> |
  <%= link_to "中文", { :locale=>'zh-CN' } %>
</p>

<p>  <%= t('locale_label') %> <%= t('.lang') %> </p>
<p>  <%= t('time_label') %> <%= l Time.now, format: :short %></p>

<style>
#info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  padding: 25px 25px 25px 25px;
  max-width: 490px;
}
html, body, #map, #map-container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100vw;
}
</style>
<div id="map-container">
  <div id="info">
    <%= render :partial => 'partials/header' %>

    <h2><%= t('.instruct_title') %></h2>
    <% if current_user.nil? %>
      <p><%= t('.signin_msg') %> <%= link_to t('login'), new_user_session_path %> <%= t('.signin_msg_2') %></p>
      <% else %>

    <p>    <%= t('.instruct_body') %>
      <%= link_to t('.instruct_body_2'), new_report_path %>.</p>
    <% end %>
  </div>

  <div id="map"></div>
</div>

<script type="text/javascript">
  var map = L.map("map", { zoomControl: false }).setView([<%= @latitude %>, <%= @longitude %>], 13);
</script>
<%= javascript_pack_tag 'home_page_map' %>
