<%= form_with(model: privilege, local: true) do |form| %>
  <% if privilege.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(privilege.errors.count, "error") %> prohibited this privilege from being saved:</h2>

      <ul>
        <% privilege.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <h3>Roles with Privilege</h3>
  <div class="field">
    <ul>
    <%= form.collection_check_boxes(:role_ids, roles, :id, :name) do |role| %>
      <li><%= role.check_box %><%= role.label %></li>
    <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
