<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="/">Shortage Tracker</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
  </li>
    <% if policy(:pages).admin? %>
    <li class="nav-item"><%= link_to t('.admin'), admin_path, :class => "nav-link"  %></li>
  <% end %>
  <% if current_user.nil? %>
    <li class="nav-item"><%= link_to t('.new_user_registration'), new_user_registration_path, :class => "nav-link"  %></li>
    <li class="nav-item"><%= link_to t('.new_user_session'), new_user_session_path, :class => "nav-link"  %></li>
  <% else %>
    <li class="nav-item"><%= link_to t('.new_report'), new_report_path, :class => "nav-link"  %></li>
    <li class="nav-item"><%= link_to t('.reports'), reports_path, :class => "nav-link" %></li>
    <li class="nav-item"><%= link_to t('.destroy_user_session'), destroy_user_session_path, :class => "nav-link"  %></li>
  <% end %>
      <li class="nav-item">
        <li><%= link_to t('.about'), about_path, :class => "nav-link" %></li>
      </li>
    </ul>
  </div>
</nav>
<div> <p><h1><%= link_to t('shortage_tracker'), root_path %></h1></p> </div>

<% if Rails.application.config.i18n.available_locales.length > 1 %>
  <ul>
    <% Rails.application.config.i18n.available_locales.each do |locale| %>
      <li><%= link_to t('locale', locale: locale), { :locale => locale.to_s.downcase } %></li>
    <% end %>
  </ul>
<% end %>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
