<h2>Admin</h2>

<h3>User Administration</h3>
<ul>
  <li><%= link_to t('.users'), users_path %></li>
  <li><%= link_to t('.roles'), roles_path %></li>
  <li><%= link_to t('.privileges'), privileges_path %></li>
</ul>

<h3>Application Administration</h3>
<ul>
  <li><%= link_to t('.products'), products_path %></li>
  <li><%= link_to t('.reports'), reports_path %></li>
</ul>
