<h2>Admin</h2>

<h3>User Administration</h3>
<ul>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Roles', roles_path %></li>
  <li><%= link_to 'Privileges', privileges_path %></li>
</ul>

<h3>Application Administration</h3>
<ul>
  <li><%= link_to 'Products', products_path %></li>
  <li><%= link_to 'Reports', reports_path %></li>
  <li><%= link_to 'Product Details', product_details_path %></li>
</ul>
