<h2>Localizations</h2>

<table>
  <thead>
    <tr>
      <th>Localizable Type</th>
      <th>Localizable</th>
      <th>Supported Locale</th>
      <th>Localized Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localizations.each do |localization| %>
      <tr>
        <td><%= localization.localizable_type %></td>
        <td><%= localization.localizable %></td>
        <td><%= localization.supported_locale.name %></td>
        <td><%= localization.value %></td>
        <td><%= link_to 'Show', localization %></td>
        <td><%= link_to 'Edit', edit_localization_path(localization) %></td>
        <td><%= link_to 'Destroy', localization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Localization', new_localization_path %>
