<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <h3>Localizations for Product</h3>
  <% supported_locales.each do |supported_locale| %>

    <%= form.fields_for :localization, find_localization(product, supported_locale) || Localization.new(localizable: product, supported_locale: supported_locale) do |localization_form| %>
      <%= localization_form.hidden_field :id %>
      <%= localization_form.hidden_field :localizable_type %>
      <%= localization_form.hidden_field :localizable_id %>
      <%= localization_form.hidden_field :supported_locale_id %>
      <div class="field">
        <%= localization_form.label :value, supported_locale %>
        <%= localization_form.text_field :value %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
