<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lat, "Latitude" %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :long, "Longitude" %>
    <%= form.text_field :long %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <section class="form-section">
    <h3>Products</h3>
    <ul class="form-section__card-stack">
      <%= form.fields_for :product_detail do |product_detail_form| %>
        <li class="form-section__card form-section__product-detail-card">
          <%= render :partial => 'product_details_fields', locals: { form: product_detail_form, products: products } %>
        </li>
      <% end %>
      <% formslug = get_unique_id() %>
      <script id="before-<%= formslug %>"></script>
      <li id="placeholder-<%= formslug %>" class="form-section__card-add-relationship form-section__product-detail-card">
        <template id="template-<%= formslug %>">
          <%= form.fields_for :product_detail, ProductDetail.new, { child_index: formslug } do |product_detail_form| %>
            <li class="form-section__card form-section__product-detail-card">
              <%= render :partial => 'product_details_fields', locals: { form: product_detail_form, products: products } %>
            </li>
          <% end %>
        </template>
        <button type="button" class="add-relationship" data-slug="<%= formslug %>">Add Product Detail</button>
      </li>
    </ul>
  </section>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
