<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<hr>
<div align="left">
  <div class="card border-primary mb-3" style="max-width: 20rem;"> 
  <div class="card-header" >
  <h3>Location</h3>  
  </div>
  <div class="card-body" align="left">
  <div class="field">
    <%= form.label :lat, "Latitude" %>
    <%= form.text_field :lat %>
    <%= form.label :long, "Longitude" %>
    <%= form.text_field :long %>
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>
  <button type="button" class="find-me">Populate Location</button>
  </div>
  </div>
</div>

  <hr>
    <h3>Add Products</h3>
    <div align="left">
      <%= form.fields_for :product_detail do |product_detail_form| %>  
        <%= render :partial => 'product_details_fields', locals: { form: product_detail_form, products: products } %>
      <% end %>
      <% formslug = get_unique_id() %>
      <script id="before-<%= formslug %>"></script>
        <template id="template-<%= formslug %>">
          <%= form.fields_for :product_detail, ProductDetail.new(scarcity: 1, price: 1), { child_index: formslug } do |product_detail_form| %>
              <%= render :partial => 'product_details_fields', locals: { form: product_detail_form, products: products } %>
          <% end %>
        </template>
        <p>    
        <button type="button" class="add-relationship" data-slug="<%= formslug %>"> + Add a Product</button>
        </p> 
  </div>
<hr>
  <div class="actions">
     <%= form.submit 'Create Report', :class => 'btn-block' %>
  </div>


<% end %>

