<%= form.hidden_field :_destroy, { value: "false", class: "destroy" } %>
<button type="button" class="remove-relationship">Remove Product Details</button>

<div class="field">
  <%= form.label :product_id %>
  <%= form.select :product_id, products.map { |product| [product, product.id] }, { include_blank: "Select product..." } %>
</div>

<div class="field">
  <%= form.label :scarcity %>
  <%= form.number_field :scarcity %>
</div>

<div class="field">
  <%= form.label :price %>
  <%= form.number_field :price %>
</div>

<div class="field">
  <%= form.label :notes %>
  <%= form.text_field :notes %>
</div>
