<h2>My Reports</h2>

<% if @reports.length > 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <% if @users.length != 1 %><th scope="col">User</th><% end %>
        <th scope="col">Location</th>
        <th scope="col">Notes</th>
        <th scope="col">Time</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr class="table-light">
          <% if @users.length != 1 %><td><%= report.user_id %></td><% end %>
          <td><%= report.coordinates %></td>
          <td><%= report.notes %></td>
          <td><%= report.created_at %></td>
          <td><%= link_to 'Show', report %></td>
          <td><%= link_to 'Edit', edit_report_path(report) %></td>
          <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>

<%= link_to 'New Report', new_report_path, :class => "btn btn-success" %>

<% else %>
  <p>You have not yet created a report. <%= link_to 'Create your first report now.', new_report_path %></p>
<% end %>

