<p>
  <strong>Ip:</strong>
  <%= @report.ip %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @report.notes %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @report.coordinates %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Product Details:</strong>
</p>

<ul>
  <% @report.product_detail.each do |product_detail| %>
    <li>
      <dl>
        <dt>Product ID</dt>
          <dd><%= product_detail.product_id %></dd>
        <dt>Product Name</dt>
          <dd><%= product_detail.product.name %></dd>
        <dt>Product Notes</dt>
          <dd><%= product_detail.notes %></dd>
        <dt>Product Scarcity</dt>
          <dd><%= product_detail.scarcity %></dd>
        <dt>Product Price</dt>
          <dd><%= product_detail.price %></dd>
      </dl>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
